{% extends "base.html" %}

{% block body %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">দেয়াল</h1>
            <h2 class="masthead-subheading mb-0">সুবোধের দেয়াল।</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">আরো জানুন</a>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/write">লিখুন</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
<!--                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div> -->
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">দেয়াল কি?</h2>
                    <p>দেয়াল একটি সাদা দেয়াল যেখানে আপনি মনের কথাগুলো লিখে রাখতে পারেন। আর অন্যের মনের দুঃখ গুলো পড়তে পারেন। মজার ব্যপার হলো এখানে আপনার পরিচয় ও কেউ জানবে না আর আপনিও কারো পরিচয় জানতে পারবেন না।</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div> -->
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">কিভাবে এটি কাজ করে?</h2>
                    <p>সাদা দেয়ালে যেমন আপনি যা খুশি লিখতে পারেন তেমনি এখানে কোনায় থাকা 'Write' বাটনে ক্লিক দিয়ে মনের কথা(সুখ,দুঃখ,হাসি,কান্না যা খুশি) লিখতে পারেন। এতে দুঃখে থাকলে আপনার দুঃখ হালকা লাগবে।</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <!-- <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div> -->
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">গোপনীয়তা রক্ষা কিভাবে হবে?</h2>
                    <p>যেহেতু এখানে লিখতে কোনো রেজিস্ট্রেসন করতে হয় না তাই কেউ আপনার পরিচয় জানবে না।</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sanimate" id="visit">
  <h3 class="text-center">দেয়াল পড়ুন</h3>
  <div class="card-group text-center text-white bg-dark mb-2 border-light ">
  {% for item in items %}
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{ item.post }}</p>
      <footer class="blockquote-footer">{{ item.author }} on <cite title="Source Title">{{ item.time }}</cite></footer>
    </blockquote>
  </div>
  {% endfor %}
</div>
</section>

{% endblock %}
